# Virtual environment
venv/
.env/
__pycache__/

# Local Chroma Database (Yeh cloud par fresh banega)
chroma_db/

# Streamlit/App Secrets
.streamlit/secrets.toml
.env

# Temporary PDF files created during scan
temp_file.pdf
*.pdf

# Other system files
.DS_Store
.ipynb_checkpoints/
.virtual_documents/